.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    background-color:rgb(44, 47, 59);
    height:100px;
    justify-content:space-between;
    z-index:1;
}
.left-section{
    display:flex;
    align-items:center;
    padding-left:40px;
}
.agnizelogo{
    width:80px;
}
.agnize-title-text{
    color:lightgrey;
    font-family:Arial;
    display:flex;
    align-items:end;
    margin-left:20px;
    font-weight:bold;
    font-size:21px;
    white-space:nowrap;
}
.right-section{
    display:flex;
    align-items:center;
    padding-right:40px;
}
.right-section div{
    margin-right: 30px;
    color:white;
    font-weight:bold;
}
.contactbutton{
    background-color:rgb(4, 207, 255);
    padding-top:14px;
    padding-bottom:14px;
    border:none;
    font-family:myfont;
    font-weight:bold;
    padding-left:25px;
    padding-right:25px;
    border-radius:50px;
    font-size:15px;
}
